In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
from pydataset import data
import seaborn as sns
import math
import env
user = env.user
host = env.host
password = env.password

import os
os.path.exists('env.py')

def get_db_url(db, env_file=os.path.exists('env.py')):
    if env_file:
        user, password, host = (env.user, env.password, env.host)
        return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [5]:
# In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

df_iris = data('iris')
df_iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1             5.1          3.5           1.4          0.2      setosa
2             4.9          3.0           1.4          0.2      setosa
3             4.7          3.2           1.3          0.2      setosa
4             4.6          3.1           1.5          0.2      setosa
5             5.0          3.6           1.4          0.2      setosa
6             5.4          3.9           1.7          0.4      setosa
7             4.6          3.4           1.4          0.3      setosa
8             5.0          3.4           1.5          0.2      setosa
9             4.4          2.9           1.4          0.2      setosa
10            4.9          3.1           1.5          0.1      setosa
11            5.4          3.7           1.5          0.2      setosa
12            4.8          3.4           1.6          0.2      setosa
13            4.8          3.0           1.4          0.1      setosa
14            4.3          3.0           1.1          0.1      setosa
15            5.8          4.0           1.2          0.2      setosa
16            5.7          4.4           1.5          0.4      setosa
17            5.4          3.9           1.3          0.4      setosa
18            5.1          3.5           1.4          0.3      setosa
19            5.7          3.8           1.7          0.3      setosa
20            5.1          3.8           1.5          0.3      setosa
21            5.4          3.4           1.7          0.2      setosa
22            5.1          3.7           1.5          0.4      setosa
23            4.6          3.6           1.0          0.2      setosa
24            5.1          3.3           1.7          0.5      setosa
25            4.8          3.4           1.9          0.2      setosa
26            5.0          3.0           1.6          0.2      setosa
27            5.0          3.4           1.6          0.4      setosa
28            5.2          3.5           1.5          0.2      setosa
29            5.2          3.4           1.4          0.2      setosa
30            4.7          3.2           1.6          0.2      setosa
31            4.8          3.1           1.6          0.2      setosa
32            5.4          3.4           1.5          0.4      setosa
33            5.2          4.1           1.5          0.1      setosa
34            5.5          4.2           1.4          0.2      setosa
35            4.9          3.1           1.5          0.2      setosa
36            5.0          3.2           1.2          0.2      setosa
37            5.5          3.5           1.3          0.2      setosa
38            4.9          3.6           1.4          0.1      setosa
39            4.4          3.0           1.3          0.2      setosa
40            5.1          3.4           1.5          0.2      setosa
41            5.0          3.5           1.3          0.3      setosa
42            4.5          2.3           1.3          0.3      setosa
43            4.4          3.2           1.3          0.2      setosa
44            5.0          3.5           1.6          0.6      setosa
45            5.1          3.8           1.9          0.4      setosa
46            4.8          3.0           1.4          0.3      setosa
47            5.1          3.8           1.6          0.2      setosa
48            4.6          3.2           1.4          0.2      setosa
49            5.3          3.7           1.5          0.2      setosa
50            5.0          3.3           1.4          0.2      setosa
51            7.0          3.2           4.7          1.4  versicolor
52            6.4          3.2           4.5          1.5  versicolor
53            6.9          3.1           4.9          1.5  versicolor
54            5.5          2.3           4.0          1.3  versicolor
55            6.5          2.8           4.6          1.5  versicolor
56            5.7          2.8           4.5          1.3  versicolor
57            6.3          3.3           4.7          1.6  versicolor
58            4.9          2.4           3.3          1.0  versicolor
59            6.6          2.9           4.6          1.3  versicolor
60            5.2          2.7           3.9          1.4  versicolor
61            5.0          2.0           3.5          1.0  versicolor
62            5.9          3.0           4.2          1.5  versicolor
63            6.0          2.2           4.0          1.0  versicolor
64            6.1          2.9           4.7          1.4  versicolor
65            5.6          2.9           3.6          1.3  versicolor
66            6.7          3.1           4.4          1.4  versicolor
67            5.6          3.0           4.5          1.5  versicolor
68            5.8          2.7           4.1          1.0  versicolor
69            6.2          2.2           4.5          1.5  versicolor
70            5.6          2.5           3.9          1.1  versicolor
71            5.9          3.2           4.8          1.8  versicolor
72            6.1          2.8           4.0          1.3  versicolor
73            6.3          2.5           4.9          1.5  versicolor
74            6.1          2.8           4.7          1.2  versicolor
75            6.4          2.9           4.3          1.3  versicolor
76            6.6          3.0           4.4          1.4  versicolor
77            6.8          2.8           4.8          1.4  versicolor
78            6.7          3.0           5.0          1.7  versicolor
79            6.0          2.9           4.5          1.5  versicolor
80            5.7          2.6           3.5          1.0  versicolor
81            5.5          2.4           3.8          1.1  versicolor
82            5.5          2.4           3.7          1.0  versicolor
83            5.8          2.7           3.9          1.2  versicolor
84            6.0          2.7           5.1          1.6  versicolor
85            5.4          3.0           4.5          1.5  versicolor
86            6.0          3.4           4.5          1.6  versicolor
87            6.7          3.1           4.7          1.5  versicolor
88            6.3          2.3           4.4          1.3  versicolor
89            5.6          3.0           4.1          1.3  versicolor
90            5.5          2.5           4.0          1.3  versicolor
91            5.5          2.6           4.4          1.2  versicolor
92            6.1          3.0           4.6          1.4  versicolor
93            5.8          2.6           4.0          1.2  versicolor
94            5.0          2.3           3.3          1.0  versicolor
95            5.6          2.7           4.2          1.3  versicolor
96            5.7          3.0           4.2          1.2  versicolor
97            5.7          2.9           4.2          1.3  versicolor
98            6.2          2.9           4.3          1.3  versicolor
99            5.1          2.5           3.0          1.1  versicolor
100           5.7          2.8           4.1          1.3  versicolor
101           6.3          3.3           6.0          2.5   virginica
102           5.8          2.7           5.1          1.9   virginica
103           7.1          3.0           5.9          2.1   virginica
104           6.3          2.9           5.6          1.8   virginica
105           6.5          3.0           5.8          2.2   virginica
106           7.6          3.0           6.6          2.1   virginica
107           4.9          2.5           4.5          1.7   virginica
108           7.3          2.9           6.3          1.8   virginica
109           6.7          2.5           5.8          1.8   virginica
110           7.2          3.6           6.1          2.5   virginica
111           6.5          3.2           5.1          2.0   virginica
112           6.4          2.7           5.3          1.9   virginica
113           6.8          3.0           5.5          2.1   virginica
114           5.7          2.5           5.0          2.0   virginica
115           5.8          2.8           5.1          2.4   virginica
116           6.4          3.2           5.3          2.3   virginica
117           6.5          3.0           5.5          1.8   virginica
118           7.7          3.8           6.7          2.2   virginica
119           7.7          2.6           6.9          2.3   virginica
120           6.0          2.2           5.0          1.5   virginica
121           6.9          3.2           5.7          2.3   virginica
122           5.6          2.8           4.9          2.0   virginica
123           7.7          2.8           6.7          2.0   virginica
124           6.3          2.7           4.9          1.8   virginica
125           6.7          3.3           5.7          2.1   virginica
126           7.2          3.2           6.0          1.8   virginica
127           6.2          2.8           4.8          1.8   virginica
128           6.1          3.0           4.9          1.8   virginica
129           6.4          2.8           5.6          2.1   virginica
130           7.2          3.0           5.8          1.6   virginica
131           7.4          2.8           6.1          1.9   virginica
132           7.9          3.8           6.4          2.0   virginica
133           6.4          2.8           5.6          2.2   virginica
134           6.3          2.8           5.1          1.5   virginica
135           6.1          2.6           5.6          1.4   virginica
136           7.7          3.0           6.1          2.3   virginica
137           6.3          3.4           5.6          2.4   virginica
138           6.4          3.1           5.5          1.8   virginica
139           6.0          3.0           4.8          1.8   virginica
140           6.9          3.1           5.4          2.1   virginica
141           6.7          3.1           5.6          2.4   virginica
142           6.9          3.1           5.1          2.3   virginica
143           5.8          2.7           5.1          1.9   virginica
144           6.8          3.2           5.9          2.3   virginica
145           6.7          3.3           5.7          2.5   virginica
146           6.7          3.0           5.2          2.3   virginica
147           6.3          2.5           5.0          1.9   virginica
148           6.5          3.0           5.2          2.0   virginica
149           6.2          3.4           5.4          2.3   virginica
150           5.9          3.0           5.1          1.8   virginica

In [6]:
# print the first 3 rows

df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [8]:
# print the number of rows and columns (shape)

df_iris.shape

(150, 5)

In [12]:
# print the column names

df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [9]:
# print the data type of each column

df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [13]:
# print the summary statistics for each of the numeric variables

df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [20]:
# Read the data from this google sheet into a dataframe, df_google.

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)

In [21]:
# print the first 3 rows

df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [22]:
# print the number of rows and columns

df_google.shape

(891, 12)

In [23]:
# print the column names

df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [24]:
# print the data type of each column

df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [26]:
# print the summary statistics for each of the numeric variables
 
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [27]:
# print the unique values for each of your categorical variables

df_google.PassengerId.value_counts()

1      1
599    1
588    1
589    1
590    1
      ..
301    1
302    1
303    1
304    1
891    1
Name: PassengerId, Length: 891, dtype: int64

In [28]:
df_google.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [29]:
df_google.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [30]:
df_google.Age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
30.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
35.00    18
27.00    18
26.00    18
16.00    17
31.00    17
20.00    15
34.00    15
33.00    15
23.00    15
39.00    14
40.00    13
17.00    13
42.00    13
45.00    12
38.00    11
50.00    10
2.00     10
4.00     10
44.00     9
48.00     9
47.00     9
54.00     8
9.00      8
1.00      7
51.00     7
14.00     6
52.00     6
37.00     6
49.00     6
41.00     6
3.00      6
58.00     5
15.00     5
43.00     5
62.00     4
56.00     4
5.00      4
11.00     4
60.00     4
8.00      4
6.00      3
46.00     3
61.00     3
65.00     3
7.00      3
10.00     2
64.00     2
13.00     2
63.00     2
30.50     2
57.00     2
70.00     2
0.75      2
71.00     2
59.00     2
0.83      2
40.50     2
55.00     2
32.50     2
28.50     2
45.50     2
34.50     1
0.42      1
0.67      1
66.00     1
24.50     1
80.00     1
20.50     1
53.00     1
14.50     1
70.50     1
12.00     1
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, dtype: int64

In [31]:
df_google.SibSp.value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [32]:
df_google.Parch.value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [33]:
df_google.Fare.value_counts()

8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: Fare, Length: 248, dtype: int64

In [35]:
# Download the previous exercise's file into an excel (File → Download → Microsoft Excel). 
# Read the downloaded file into a dataframe named df_excel.

df_excel = pd.read_excel('train.xlsx')

In [36]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.head(100)
df_excel_sample

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.00,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1.0,0.0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.00,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1.0,0.0,113803.0,53.1000,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.00,0.0,0.0,373450.0,8.0500,NaN,S
5,6.0,0.0,3.0,"Moran, Mr. James",male,NaN,0.0,0.0,330877.0,8.4583,NaN,Q
6,7.0,0.0,1.0,"McCarthy, Mr. Timothy J",male,54.00,0.0,0.0,17463.0,51.8625,E46,S
7,8.0,0.0,3.0,"Palsson, Master. Gosta Leonard",male,2.00,3.0,1.0,349909.0,21.0750,NaN,S
8,9.0,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0.0,2.0,347742.0,11.1333,NaN,S
9,10.0,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1.0,0.0,237736.0,30.0708,NaN,C
10,11.0,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.00,1.0,1.0,PP 9549,16.7000,G6,S
11,12.0,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.00,0.0,0.0,113783.0,26.5500,C103,S
12,13.0,0.0,3.0,"Saundercock, Mr. William Henry",male,20.00,0.0,0.0,A/5. 2151,8.0500,NaN,S
13,14.0,0.0,3.0,"Andersson, Mr. Anders Johan",male,39.00,1.0,5.0,347082.0,31.2750,NaN,S
14,15.0,0.0,3.0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0.0,0.0,350406.0,7.8542,NaN,S
15,16.0,1.0,2.0,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0.0,0.0,248706.0,16.0000,NaN,S
16,17.0,0.0,3.0,"Rice, Master. Eugene",male,2.00,4.0,1.0,382652.0,29.1250,NaN,Q
17,18.0,1.0,2.0,"Williams, Mr. Charles Eugene",male,NaN,0.0,0.0,244373.0,13.0000,NaN,S
18,19.0,0.0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1.0,0.0,345763.0,18.0000,NaN,S
19,20.0,1.0,3.0,"Masselmani, Mrs. Fatima",female,NaN,0.0,0.0,2649.0,7.2250,NaN,C
20,21.0,0.0,2.0,"Fynney, Mr. Joseph J",male,35.00,0.0,0.0,239865.0,26.0000,NaN,S
21,22.0,1.0,2.0,"Beesley, Mr. Lawrence",male,34.00,0.0,0.0,248698.0,13.0000,D56,S
22,23.0,1.0,3.0,"McGowan, Miss. Anna ""Annie""",female,15.00,0.0,0.0,330923.0,8.0292,NaN,Q
23,24.0,1.0,1.0,"Sloper, Mr. William Thompson",male,28.00,0.0,0.0,113788.0,35.5000,A6,S
24,25.0,0.0,3.0,"Palsson, Miss. Torborg Danira",female,8.00,3.0,1.0,349909.0,21.0750,NaN,S
25,26.0,1.0,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1.0,5.0,347077.0,31.3875,NaN,S
26,27.0,0.0,3.0,"Emir, Mr. Farred Chehab",male,NaN,0.0,0.0,2631.0,7.2250,NaN,C
27,28.0,0.0,1.0,"Fortune, Mr. Charles Alexander",male,19.00,3.0,2.0,19950.0,263.0000,C23 C25 C27,S
28,29.0,1.0,3.0,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0.0,0.0,330959.0,7.8792,NaN,Q
29,30.0,0.0,3.0,"Todoroff, Mr. Lalio",male,NaN,0.0,0.0,349216.0,7.8958,NaN,S
30,31.0,0.0,1.0,"Uruchurtu, Don. Manuel E",male,40.00,0.0,0.0,PC 17601,27.7208,NaN,C
31,32.0,1.0,1.0,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1.0,0.0,PC 17569,146.5208,B78,C
32,33.0,1.0,3.0,"Glynn, Miss. Mary Agatha",female,NaN,0.0,0.0,335677.0,7.7500,NaN,Q
33,34.0,0.0,2.0,"Wheadon, Mr. Edward H",male,66.00,0.0,0.0,C.A. 24579,10.5000,NaN,S
34,35.0,0.0,1.0,"Meyer, Mr. Edgar Joseph",male,28.00,1.0,0.0,PC 17604,82.1708,NaN,C
35,36.0,0.0,1.0,"Holverson, Mr. Alexander Oskar",male,42.00,1.0,0.0,113789.0,52.0000,NaN,S
36,37.0,1.0,3.0,"Mamee, Mr. Hanna",male,NaN,0.0,0.0,2677.0,7.2292,NaN,C
37,38.0,0.0,3.0,"Cann, Mr. Ernest Charles",male,21.00,0.0,0.0,A./5. 2152,8.0500,NaN,S
38,39.0,0.0,3.0,"Vander Planke, Miss. Augusta Maria",female,18.00,2.0,0.0,345764.0,18.0000,NaN,S
39,40.0,1.0,3.0,"Nicola-Yarred, Miss. Jamila",female,14.00,1.0,0.0,2651.0,11.2417,NaN,C
40,41.0,0.0,3.0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1.0,0.0,7546.0,9.4750,NaN,S
41,42.0,0.0,2.0,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1.0,0.0,11668.0,21.0000,NaN,S
42,43.0,0.0,3.0,"Kraeff, Mr. Theodor",male,NaN,0.0,0.0,349253.0,7.8958,NaN,C
43,44.0,1.0,2.0,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1.0,2.0,SC/Paris 2123,41.5792,NaN,C
44,45.0,1.0,3.0,"Devaney, Miss. Margaret Delia",female,19.00,0.0,0.0,330958.0,7.8792,NaN,Q
45,46.0,0.0,3.0,"Rogers, Mr. William John",male,NaN,0.0,0.0,S.C./A.4. 23567,8.0500,NaN,S
46,47.0,0.0,3.0,"Lennon, Mr. Denis",male,NaN,1.0,0.0,370371.0,15.5000,NaN,Q
47,48.0,1.0,3.0,"O'Driscoll, Miss. Bridget",female,NaN,0.0,0.0,14311.0,7.7500,NaN,Q
48,49.0,0.0,3.0,"Samaan, Mr. Youssef",male,NaN,2.0,0.0,2662.0,21.6792,NaN,C
49,50.0,0.0,3.0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1.0,0.0,349237.0,17.8000,NaN,S
50,51.0,0.0,3.0,"Panula, Master. Juha Niilo",male,7.00,4.0,1.0,3101295.0,39.6875,NaN,S
51,52.0,0.0,3.0,"Nosworthy, Mr. Richard Cater",male,21.00,0.0,0.0,A/4. 39886,7.8000,NaN,S
52,53.0,1.0,1.0,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1.0,0.0,PC 17572,76.7292,D33,C
53,54.0,1.0,2.0,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1.0,0.0,2926.0,26.0000,NaN,S
54,55.0,0.0,1.0,"Ostby, Mr. Engelhart Cornelius",male,65.00,0.0,1.0,113509.0,61.9792,B30,C
55,56.0,1.0,1.0,"Woolner, Mr. Hugh",male,NaN,0.0,0.0,19947.0,35.5000,C52,S
56,57.0,1.0,2.0,"Rugg, Miss. Emily",female,21.00,0.0,0.0,C.A. 31026,10.5000,NaN,S
57,58.0,0.0,3.0,"Novel, Mr. Mansouer",male,28.50,0.0,0.0,2697.0,7.2292,NaN,C
58,59.0,1.0,2.0,"West, Miss. Constance Mirium",female,5.00,1.0,2.0,C.A. 34651,27.7500,NaN,S
59,60.0,0.0,3.0,"Goodwin, Master. William Frederick",male,11.00,5.0,2.0,CA 2144,46.9000,NaN,S
60,61.0,0.0,3.0,"Sirayanian, Mr. Orsen",male,22.00,0.0,0.0,2669.0,7.2292,NaN,C
61,62.0,1.0,1.0,"Icard, Miss. Amelie",female,38.00,0.0,0.0,113572.0,80.0000,B28,NaN
62,63.0,0.0,1.0,"Harris, Mr. Henry Birkhardt",male,45.00,1.0,0.0,36973.0,83.4750,C83,S
63,64.0,0.0,3.0,"Skoog, Master. Harald",male,4.00,3.0,2.0,347088.0,27.9000,NaN,S
64,65.0,0.0,1.0,"Stewart, Mr. Albert A",male,NaN,0.0,0.0,PC 17605,27.7208,NaN,C
65,66.0,1.0,3.0,"Moubarek, Master. Gerios",male,NaN,1.0,1.0,2661.0,15.2458,NaN,C
66,67.0,1.0,2.0,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0.0,0.0,C.A. 29395,10.5000,F33,S
67,68.0,0.0,3.0,"Crease, Mr. Ernest James",male,19.00,0.0,0.0,S.P. 3464,8.1583,NaN,S
68,69.0,1.0,3.0,"Andersson, Miss. Erna Alexandra",female,17.00,4.0,2.0,3101281.0,7.9250,NaN,S
69,70.0,0.0,3.0,"Kink, Mr. Vincenz",male,26.00,2.0,0.0,315151.0,8.6625,NaN,S
70,71.0,0.0,2.0,"Jenkin, Mr. Stephen Curnow",male,32.00,0.0,0.0,C.A. 33111,10.5000,NaN,S
71,72.0,0.0,3.0,"Goodwin, Miss. Lillian Amy",female,16.00,5.0,2.0,CA 2144,46.9000,NaN,S
72,73.0,0.0,2.0,"Hood, Mr. Ambrose Jr",male,21.00,0.0,0.0,S.O.C. 14879,73.5000,NaN,S
73,74.0,0.0,3.0,"Chronopoulos, Mr. Apostolos",male,26.00,1.0,0.0,2680.0,14.4542,NaN,C
74,75.0,1.0,3.0,"Bing, Mr. Lee",male,32.00,0.0,0.0,1601.0,56.4958,NaN,S
75,76.0,0.0,3.0,"Moen, Mr. Sigurd Hansen",male,25.00,0.0,0.0,348123.0,7.6500,F G73,S
76,77.0,0.0,3.0,"Staneff, Mr. Ivan",male,NaN,0.0,0.0,349208.0,7.8958,NaN,S
77,78.0,0.0,3.0,"Moutal, Mr. Rahamin Haim",male,NaN,0.0,0.0,374746.0,8.0500,NaN,S
78,79.0,1.0,2.0,"Caldwell, Master. Alden Gates",male,0.83,0.0,2.0,248738.0,29.0000,NaN,S
79,80.0,1.0,3.0,"Dowdell, Miss. Elizabeth",female,30.00,0.0,0.0,364516.0,12.4750,NaN,S
80,81.0,0.0,3.0,"Waelens, Mr. Achille",male,22.00,0.0,0.0,345767.0,9.0000,NaN,S
81,82.0,1.0,3.0,"Sheerlinck, Mr. Jan Baptist",male,29.00,0.0,0.0,345779.0,9.5000,NaN,S
82,83.0,1.0,3.0,"McDermott, Miss. Brigdet Delia",female,NaN,0.0,0.0,330932.0,7.7875,NaN,Q
83,84.0,0.0,1.0,"Carrau, Mr. Francisco M",male,28.00,0.0,0.0,113059.0,47.1000,NaN,S
84,85.0,1.0,2.0,"Ilett, Miss. Bertha",female,17.00,0.0,0.0,SO/C 14885,10.5000,NaN,S
85,86.0,1.0,3.0,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3.0,0.0,3101278.0,15.8500,NaN,S
86,87.0,0.0,3.0,"Ford, Mr. William Neal",male,16.00,1.0,3.0,W./C. 6608,34.3750,NaN,S
87,88.0,0.0,3.0,"Slocovski, Mr. Selman Francis",male,NaN,0.0,0.0,SOTON/OQ 392086,8.0500,NaN,S
88,89.0,1.0,1.0,"Fortune, Miss. Mabel Helen",female,23.00,3.0,2.0,19950.0,263.0000,C23 C25 C27,S
89,90.0,0.0,3.0,"Celotti, Mr. Francesco",male,24.00,0.0,0.0,343275.0,8.0500,NaN,S
90,91.0,0.0,3.0,"Christmann, Mr. Emil",male,29.00,0.0,0.0,343276.0,8.0500,NaN,S
91,92.0,0.0,3.0,"Andreasson, Mr. Paul Edvin",male,20.00,0.0,0.0,347466.0,7.8542,NaN,S
92,93.0,0.0,1.0,"Chaffee, Mr. Herbert Fuller",male,46.00,1.0,0.0,W.E.P. 5734,61.1750,E31,S
93,94.0,0.0,3.0,"Dean, Mr. Bertram Frank",male,26.00,1.0,2.0,C.A. 2315,20.5750,NaN,S
94,95.0,0.0,3.0,"Coxon, Mr. Daniel",male,59.00,0.0,0.0,364500.0,7.2500,NaN,S
95,96.0,0.0,3.0,"Shorney, Mr. Charles Joseph",male,NaN,0.0,0.0,374910.0,8.0500,NaN,S
96,97.0,0.0,1.0,"Goldschmidt, Mr. George B",male,71.00,0.0,0.0,PC 17754,34.6542,A5,C
97,98.0,1.0,1.0,"Greenfield, Mr. William Bertram",male,23.00,0.0,1.0,PC 17759,63.3583,D10 D12,C
98,99.0,1.0,2.0,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0.0,1.0,231919.0,23.0000,NaN,S
99,100.0,0.0,2.0,"Kantor, Mr. Sinai",male,34.00,1.0,0.0,244367.0,26.0000,NaN,S

In [39]:
# print the number of rows of your original dataframe

df_excel.shape[0]

891

In [44]:
# print the first 5 column names

x = [0,1,2,3,4]
df_excel.columns[x]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [51]:
# print the column names that have a data type of object

df_excel.dtypes[df_excel.dtypes == object]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [74]:
# compute the range for each of the numeric variables.

print(df_excel.PassengerId.min(), df_excel.PassengerId.max())
print(df_excel.Survived.min(), df_excel.Survived.max())
print(df_excel.Pclass.min(), df_excel.Pclass.max())
print(df_excel.Age.min(), df_excel.Age.max())
print(df_excel.SibSp.min(), df_excel.SibSp.max())
print(df_excel.Parch.min(), df_excel.Parch.max())
print(df_excel.Fare.min(), df_excel.Fare.max())

1.0 891.0
0.0 1.0
1.0 3.0
0.42 80.0
0.0 8.0
0.0 6.0
0.0 512.3292

## Using the Iris Data:

In [14]:
# Use the function defined in acquire.py to load the iris data.

import acquire
iris_df = acquire.get_iris_data()
iris_df

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

In [5]:
# Rename the species_name column to just species.

iris_df.rename(columns={'species_name': 'species'}, inplace=True)

In [8]:
# Create dummy variables of the species name and concatenate onto the iris dataframe. 
# (This is for practice, we don't always have to encode the target, but if we used 
# species as a feature, we would need to encode it).

dummy_iris_df = pd.get_dummies(iris_df[['species']])
iris_df = pd.concat([iris_df, dummy_iris_df], axis=1)

In [9]:
iris_df

,species_id,species,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_versicolor,species_virginica,species_setosa,species_versicolor,species_virginica
0,1,setosa,1,5.1,3.5,1.4,0.2,0,0,1,0,0
1,1,setosa,2,4.9,3.0,1.4,0.2,0,0,1,0,0
2,1,setosa,3,4.7,3.2,1.3,0.2,0,0,1,0,0
3,1,setosa,4,4.6,3.1,1.5,0.2,0,0,1,0,0
4,1,setosa,5,5.0,3.6,1.4,0.2,0,0,1,0,0
5,1,setosa,6,5.4,3.9,1.7,0.4,0,0,1,0,0
6,1,setosa,7,4.6,3.4,1.4,0.3,0,0,1,0,0
7,1,setosa,8,5.0,3.4,1.5,0.2,0,0,1,0,0
8,1,setosa,9,4.4,2.9,1.4,0.2,0,0,1,0,0
9,1,setosa,10,4.9,3.1,1.5,0.1,0,0,1,0,0
10,1,setosa,11,5.4,3.7,1.5,0.2,0,0,1,0,0
11,1,setosa,12,4.8,3.4,1.6,0.2,0,0,1,0,0
12,1,setosa,13,4.8,3.0,1.4,0.1,0,0,1,0,0
13,1,setosa,14,4.3,3.0,1.1,0.1,0,0,1,0,0
14,1,setosa,15,5.8,4.0,1.2,0.2,0,0,1,0,0
15,1,setosa,16,5.7,4.4,1.5,0.4,0,0,1,0,0
16,1,setosa,17,5.4,3.9,1.3,0.4,0,0,1,0,0
17,1,setosa,18,5.1,3.5,1.4,0.3,0,0,1,0,0
18,1,setosa,19,5.7,3.8,1.7,0.3,0,0,1,0,0
19,1,setosa,20,5.1,3.8,1.5,0.3,0,0,1,0,0
20,1,setosa,21,5.4,3.4,1.7,0.2,0,0,1,0,0
21,1,setosa,22,5.1,3.7,1.5,0.4,0,0,1,0,0
22,1,setosa,23,4.6,3.6,1.0,0.2,0,0,1,0,0
23,1,setosa,24,5.1,3.3,1.7,0.5,0,0,1,0,0
24,1,setosa,25,4.8,3.4,1.9,0.2,0,0,1,0,0
25,1,setosa,26,5.0,3.0,1.6,0.2,0,0,1,0,0
26,1,setosa,27,5.0,3.4,1.6,0.4,0,0,1,0,0
27,1,setosa,28,5.2,3.5,1.5,0.2,0,0,1,0,0
28,1,setosa,29,5.2,3.4,1.4,0.2,0,0,1,0,0
29,1,setosa,30,4.7,3.2,1.6,0.2,0,0,1,0,0
30,1,setosa,31,4.8,3.1,1.6,0.2,0,0,1,0,0
31,1,setosa,32,5.4,3.4,1.5,0.4,0,0,1,0,0
32,1,setosa,33,5.2,4.1,1.5,0.1,0,0,1,0,0
33,1,setosa,34,5.5,4.2,1.4,0.2,0,0,1,0,0
34,1,setosa,35,4.9,3.1,1.5,0.2,0,0,1,0,0
35,1,setosa,36,5.0,3.2,1.2,0.2,0,0,1,0,0
36,1,setosa,37,5.5,3.5,1.3,0.2,0,0,1,0,0
37,1,setosa,38,4.9,3.6,1.4,0.1,0,0,1,0,0
38,1,setosa,39,4.4,3.0,1.3,0.2,0,0,1,0,0
39,1,setosa,40,5.1,3.4,1.5,0.2,0,0,1,0,0
40,1,setosa,41,5.0,3.5,1.3,0.3,0,0,1,0,0
41,1,setosa,42,4.5,2.3,1.3,0.3,0,0,1,0,0
42,1,setosa,43,4.4,3.2,1.3,0.2,0,0,1,0,0
43,1,setosa,44,5.0,3.5,1.6,0.6,0,0,1,0,0
44,1,setosa,45,5.1,3.8,1.9,0.4,0,0,1,0,0
45,1,setosa,46,4.8,3.0,1.4,0.3,0,0,1,0,0
46,1,setosa,47,5.1,3.8,1.6,0.2,0,0,1,0,0
47,1,setosa,48,4.6,3.2,1.4,0.2,0,0,1,0,0
48,1,setosa,49,5.3,3.7,1.5,0.2,0,0,1,0,0
49,1,setosa,50,5.0,3.3,1.4,0.2,0,0,1,0,0
50,2,versicolor,51,7.0,3.2,4.7,1.4,1,0,0,1,0
51,2,versicolor,52,6.4,3.2,4.5,1.5,1,0,0,1,0
52,2,versicolor,53,6.9,3.1,4.9,1.5,1,0,0,1,0
53,2,versicolor,54,5.5,2.3,4.0,1.3,1,0,0,1,0
54,2,versicolor,55,6.5,2.8,4.6,1.5,1,0,0,1,0
55,2,versicolor,56,5.7,2.8,4.5,1.3,1,0,0,1,0
56,2,versicolor,57,6.3,3.3,4.7,1.6,1,0,0,1,0
57,2,versicolor,58,4.9,2.4,3.3,1.0,1,0,0,1,0
58,2,versicolor,59,6.6,2.9,4.6,1.3,1,0,0,1,0
59,2,versicolor,60,5.2,2.7,3.9,1.4,1,0,0,1,0
60,2,versicolor,61,5.0,2.0,3.5,1.0,1,0,0,1,0
61,2,versicolor,62,5.9,3.0,4.2,1.5,1,0,0,1,0
62,2,versicolor,63,6.0,2.2,4.0,1.0,1,0,0,1,0
63,2,versicolor,64,6.1,2.9,4.7,1.4,1,0,0,1,0
64,2,versicolor,65,5.6,2.9,3.6,1.3,1,0,0,1,0
65,2,versicolor,66,6.7,3.1,4.4,1.4,1,0,0,1,0
66,2,versicolor,67,5.6,3.0,4.5,1.5,1,0,0,1,0
67,2,versicolor,68,5.8,2.7,4.1,1.0,1,0,0,1,0
68,2,versicolor,69,6.2,2.2,4.5,1.5,1,0,0,1,0
69,2,versicolor,70,5.6,2.5,3.9,1.1,1,0,0,1,0
70,2,versicolor,71,5.9,3.2,4.8,1.8,1,0,0,1,0
71,2,versicolor,72,6.1,2.8,4.0,1.3,1,0,0,1,0
72,2,versicolor,73,6.3,2.5,4.9,1.5,1,0,0,1,0
73,2,versicolor,74,6.1,2.8,4.7,1.2,1,0,0,1,0
74,2,versicolor,75,6.4,2.9,4.3,1.3,1,0,0,1,0
75,2,versicolor,76,6.6,3.0,4.4,1.4,1,0,0,1,0
76,2,versicolor,77,6.8,2.8,4.8,1.4,1,0,0,1,0
77,2,versicolor,78,6.7,3.0,5.0,1.7,1,0,0,1,0
78,2,versicolor,79,6.0,2.9,4.5,1.5,1,0,0,1,0
79,2,versicolor,80,5.7,2.6,3.5,1.0,1,0,0,1,0
80,2,versicolor,81,5.5,2.4,3.8,1.1,1,0,0,1,0
81,2,versicolor,82,5.5,2.4,3.7,1.0,1,0,0,1,0
82,2,versicolor,83,5.8,2.7,3.9,1.2,1,0,0,1,0
83,2,versicolor,84,6.0,2.7,5.1,1.6,1,0,0,1,0
84,2,versicolor,85,5.4,3.0,4.5,1.5,1,0,0,1,0
85,2,versicolor,86,6.0,3.4,4.5,1.6,1,0,0,1,0
86,2,versicolor,87,6.7,3.1,4.7,1.5,1,0,0,1,0
87,2,versicolor,88,6.3,2.3,4.4,1.3,1,0,0,1,0
88,2,versicolor,89,5.6,3.0,4.1,1.3,1,0,0,1,0
89,2,versicolor,90,5.5,2.5,4.0,1.3,1,0,0,1,0
90,2,versicolor,91,5.5,2.6,4.4,1.2,1,0,0,1,0
91,2,versicolor,92,6.1,3.0,4.6,1.4,1,0,0,1,0
92,2,versicolor,93,5.8,2.6,4.0,1.2,1,0,0,1,0
93,2,versicolor,94,5.0,2.3,3.3,1.0,1,0,0,1,0
94,2,versicolor,95,5.6,2.7,4.2,1.3,1,0,0,1,0
95,2,versicolor,96,5.7,3.0,4.2,1.2,1,0,0,1,0
96,2,versicolor,97,5.7,2.9,4.2,1.3,1,0,0,1,0
97,2,versicolor,98,6.2,2.9,4.3,1.3,1,0,0,1,0
98,2,versicolor,99,5.1,2.5,3.0,1.1,1,0,0,1,0
99,2,versicolor,100,5.7,2.8,4.1,1.3,1,0,0,1,0
100,3,virginica,101,6.3,3.3,6.0,2.5,0,1,0,0,1
101,3,virginica,102,5.8,2.7,5.1,1.9,0,1,0,0,1
102,3,virginica,103,7.1,3.0,5.9,2.1,0,1,0,0,1
103,3,virginica,104,6.3,2.9,5.6,1.8,0,1,0,0,1
104,3,virginica,105,6.5,3.0,5.8,2.2,0,1,0,0,1
105,3,virginica,106,7.6,3.0,6.6,2.1,0,1,0,0,1
106,3,virginica,107,4.9,2.5,4.5,1.7,0,1,0,0,1
107,3,virginica,108,7.3,2.9,6.3,1.8,0,1,0,0,1
108,3,virginica,109,6.7,2.5,5.8,1.8,0,1,0,0,1
109,3,virginica,110,7.2,3.6,6.1,2.5,0,1,0,0,1
110,3,virginica,111,6.5,3.2,5.1,2.0,0,1,0,0,1
111,3,virginica,112,6.4,2.7,5.3,1.9,0,1,0,0,1
112,3,virginica,113,6.8,3.0,5.5,2.1,0,1,0,0,1
113,3,virginica,114,5.7,2.5,5.0,2.0,0,1,0,0,1
114,3,virginica,115,5.8,2.8,5.1,2.4,0,1,0,0,1
115,3,virginica,116,6.4,3.2,5.3,2.3,0,1,0,0,1
116,3,virginica,117,6.5,3.0,5.5,1.8,0,1,0,0,1
117,3,virginica,118,7.7,3.8,6.7,2.2,0,1,0,0,1
118,3,virginica,119,7.7,2.6,6.9,2.3,0,1,0,0,1
119,3,virginica,120,6.0,2.2,5.0,1.5,0,1,0,0,1
120,3,virginica,121,6.9,3.2,5.7,2.3,0,1,0,0,1
121,3,virginica,122,5.6,2.8,4.9,2.0,0,1,0,0,1
122,3,virginica,123,7.7,2.8,6.7,2.0,0,1,0,0,1
123,3,virginica,124,6.3,2.7,4.9,1.8,0,1,0,0,1
124,3,virginica,125,6.7,3.3,5.7,2.1,0,1,0,0,1
125,3,virginica,126,7.2,3.2,6.0,1.8,0,1,0,0,1
126,3,virginica,127,6.2,2.8,4.8,1.8,0,1,0,0,1
127,3,virginica,128,6.1,3.0,4.9,1.8,0,1,0,0,1
128,3,virginica,129,6.4,2.8,5.6,2.1,0,1,0,0,1
129,3,virginica,130,7.2,3.0,5.8,1.6,0,1,0,0,1
130,3,virginica,131,7.4,2.8,6.1,1.9,0,1,0,0,1
131,3,virginica,132,7.9,3.8,6.4,2.0,0,1,0,0,1
132,3,virginica,133,6.4,2.8,5.6,2.2,0,1,0,0,1
133,3,virginica,134,6.3,2.8,5.1,1.5,0,1,0,0,1
134,3,virginica,135,6.1,2.6,5.6,1.4,0,1,0,0,1
135,3,virginica,136,7.7,3.0,6.1,2.3,0,1,0,0,1
136,3,virginica,137,6.3,3.4,5.6,2.4,0,1,0,0,1
137,3,virginica,138,6.4,3.1,5.5,1.8,0,1,0,0,1
138,3,virginica,139,6.0,3.0,4.8,1.8,0,1,0,0,1
139,3,virginica,140,6.9,3.1,5.4,2.1,0,1,0,0,1
140,3,virginica,141,6.7,3.1,5.6,2.4,0,1,0,0,1
141,3,virginica,142,6.9,3.1,5.1,2.3,0,1,0,0,1
142,3,virginica,143,5.8,2.7,5.1,1.9,0,1,0,0,1
143,3,virginica,144,6.8,3.2,5.9,2.3,0,1,0,0,1
144,3,virginica,145,6.7,3.3,5.7,2.5,0,1,0,0,1
145,3,virginica,146,6.7,3.0,5.2,2.3,0,1,0,0,1
146,3,virginica,147,6.3,2.5,5.0,1.9,0,1,0,0,1
147,3,virginica,148,6.5,3.0,5.2,2.0,0,1,0,0,1
148,3,virginica,149,6.2,3.4,5.4,2.3,0,1,0,0,1
149,3,virginica,150,5.9,3.0,5.1,1.8,0,1,0,0,1

In [15]:
# Create a function named prep_iris that accepts the untransformed iris data, 
# and returns the data with the transformations above applied.

def prep_iris(iris_df):
    iris_df.rename(columns={'species_name': 'species'}, inplace=True)
    dummy_iris_df = pd.get_dummies(iris_df[['species']])
    iris_df = pd.concat([iris_df, dummy_iris_df], axis=1)
    return iris_df

In [16]:
prep_iris(iris_df)

,species_id,species,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,1,setosa,1,5.1,3.5,1.4,0.2,1,0,0
1,1,setosa,2,4.9,3.0,1.4,0.2,1,0,0
2,1,setosa,3,4.7,3.2,1.3,0.2,1,0,0
3,1,setosa,4,4.6,3.1,1.5,0.2,1,0,0
4,1,setosa,5,5.0,3.6,1.4,0.2,1,0,0
5,1,setosa,6,5.4,3.9,1.7,0.4,1,0,0
6,1,setosa,7,4.6,3.4,1.4,0.3,1,0,0
7,1,setosa,8,5.0,3.4,1.5,0.2,1,0,0
8,1,setosa,9,4.4,2.9,1.4,0.2,1,0,0
9,1,setosa,10,4.9,3.1,1.5,0.1,1,0,0
10,1,setosa,11,5.4,3.7,1.5,0.2,1,0,0
11,1,setosa,12,4.8,3.4,1.6,0.2,1,0,0
12,1,setosa,13,4.8,3.0,1.4,0.1,1,0,0
13,1,setosa,14,4.3,3.0,1.1,0.1,1,0,0
14,1,setosa,15,5.8,4.0,1.2,0.2,1,0,0
15,1,setosa,16,5.7,4.4,1.5,0.4,1,0,0
16,1,setosa,17,5.4,3.9,1.3,0.4,1,0,0
17,1,setosa,18,5.1,3.5,1.4,0.3,1,0,0
18,1,setosa,19,5.7,3.8,1.7,0.3,1,0,0
19,1,setosa,20,5.1,3.8,1.5,0.3,1,0,0
20,1,setosa,21,5.4,3.4,1.7,0.2,1,0,0
21,1,setosa,22,5.1,3.7,1.5,0.4,1,0,0
22,1,setosa,23,4.6,3.6,1.0,0.2,1,0,0
23,1,setosa,24,5.1,3.3,1.7,0.5,1,0,0
24,1,setosa,25,4.8,3.4,1.9,0.2,1,0,0
25,1,setosa,26,5.0,3.0,1.6,0.2,1,0,0
26,1,setosa,27,5.0,3.4,1.6,0.4,1,0,0
27,1,setosa,28,5.2,3.5,1.5,0.2,1,0,0
28,1,setosa,29,5.2,3.4,1.4,0.2,1,0,0
29,1,setosa,30,4.7,3.2,1.6,0.2,1,0,0
30,1,setosa,31,4.8,3.1,1.6,0.2,1,0,0
31,1,setosa,32,5.4,3.4,1.5,0.4,1,0,0
32,1,setosa,33,5.2,4.1,1.5,0.1,1,0,0
33,1,setosa,34,5.5,4.2,1.4,0.2,1,0,0
34,1,setosa,35,4.9,3.1,1.5,0.2,1,0,0
35,1,setosa,36,5.0,3.2,1.2,0.2,1,0,0
36,1,setosa,37,5.5,3.5,1.3,0.2,1,0,0
37,1,setosa,38,4.9,3.6,1.4,0.1,1,0,0
38,1,setosa,39,4.4,3.0,1.3,0.2,1,0,0
39,1,setosa,40,5.1,3.4,1.5,0.2,1,0,0
40,1,setosa,41,5.0,3.5,1.3,0.3,1,0,0
41,1,setosa,42,4.5,2.3,1.3,0.3,1,0,0
42,1,setosa,43,4.4,3.2,1.3,0.2,1,0,0
43,1,setosa,44,5.0,3.5,1.6,0.6,1,0,0
44,1,setosa,45,5.1,3.8,1.9,0.4,1,0,0
45,1,setosa,46,4.8,3.0,1.4,0.3,1,0,0
46,1,setosa,47,5.1,3.8,1.6,0.2,1,0,0
47,1,setosa,48,4.6,3.2,1.4,0.2,1,0,0
48,1,setosa,49,5.3,3.7,1.5,0.2,1,0,0
49,1,setosa,50,5.0,3.3,1.4,0.2,1,0,0
50,2,versicolor,51,7.0,3.2,4.7,1.4,0,1,0
51,2,versicolor,52,6.4,3.2,4.5,1.5,0,1,0
52,2,versicolor,53,6.9,3.1,4.9,1.5,0,1,0
53,2,versicolor,54,5.5,2.3,4.0,1.3,0,1,0
54,2,versicolor,55,6.5,2.8,4.6,1.5,0,1,0
55,2,versicolor,56,5.7,2.8,4.5,1.3,0,1,0
56,2,versicolor,57,6.3,3.3,4.7,1.6,0,1,0
57,2,versicolor,58,4.9,2.4,3.3,1.0,0,1,0
58,2,versicolor,59,6.6,2.9,4.6,1.3,0,1,0
59,2,versicolor,60,5.2,2.7,3.9,1.4,0,1,0
60,2,versicolor,61,5.0,2.0,3.5,1.0,0,1,0
61,2,versicolor,62,5.9,3.0,4.2,1.5,0,1,0
62,2,versicolor,63,6.0,2.2,4.0,1.0,0,1,0
63,2,versicolor,64,6.1,2.9,4.7,1.4,0,1,0
64,2,versicolor,65,5.6,2.9,3.6,1.3,0,1,0
65,2,versicolor,66,6.7,3.1,4.4,1.4,0,1,0
66,2,versicolor,67,5.6,3.0,4.5,1.5,0,1,0
67,2,versicolor,68,5.8,2.7,4.1,1.0,0,1,0
68,2,versicolor,69,6.2,2.2,4.5,1.5,0,1,0
69,2,versicolor,70,5.6,2.5,3.9,1.1,0,1,0
70,2,versicolor,71,5.9,3.2,4.8,1.8,0,1,0
71,2,versicolor,72,6.1,2.8,4.0,1.3,0,1,0
72,2,versicolor,73,6.3,2.5,4.9,1.5,0,1,0
73,2,versicolor,74,6.1,2.8,4.7,1.2,0,1,0
74,2,versicolor,75,6.4,2.9,4.3,1.3,0,1,0
75,2,versicolor,76,6.6,3.0,4.4,1.4,0,1,0
76,2,versicolor,77,6.8,2.8,4.8,1.4,0,1,0
77,2,versicolor,78,6.7,3.0,5.0,1.7,0,1,0
78,2,versicolor,79,6.0,2.9,4.5,1.5,0,1,0
79,2,versicolor,80,5.7,2.6,3.5,1.0,0,1,0
80,2,versicolor,81,5.5,2.4,3.8,1.1,0,1,0
81,2,versicolor,82,5.5,2.4,3.7,1.0,0,1,0
82,2,versicolor,83,5.8,2.7,3.9,1.2,0,1,0
83,2,versicolor,84,6.0,2.7,5.1,1.6,0,1,0
84,2,versicolor,85,5.4,3.0,4.5,1.5,0,1,0
85,2,versicolor,86,6.0,3.4,4.5,1.6,0,1,0
86,2,versicolor,87,6.7,3.1,4.7,1.5,0,1,0
87,2,versicolor,88,6.3,2.3,4.4,1.3,0,1,0
88,2,versicolor,89,5.6,3.0,4.1,1.3,0,1,0
89,2,versicolor,90,5.5,2.5,4.0,1.3,0,1,0
90,2,versicolor,91,5.5,2.6,4.4,1.2,0,1,0
91,2,versicolor,92,6.1,3.0,4.6,1.4,0,1,0
92,2,versicolor,93,5.8,2.6,4.0,1.2,0,1,0
93,2,versicolor,94,5.0,2.3,3.3,1.0,0,1,0
94,2,versicolor,95,5.6,2.7,4.2,1.3,0,1,0
95,2,versicolor,96,5.7,3.0,4.2,1.2,0,1,0
96,2,versicolor,97,5.7,2.9,4.2,1.3,0,1,0
97,2,versicolor,98,6.2,2.9,4.3,1.3,0,1,0
98,2,versicolor,99,5.1,2.5,3.0,1.1,0,1,0
99,2,versicolor,100,5.7,2.8,4.1,1.3,0,1,0
100,3,virginica,101,6.3,3.3,6.0,2.5,0,0,1
101,3,virginica,102,5.8,2.7,5.1,1.9,0,0,1
102,3,virginica,103,7.1,3.0,5.9,2.1,0,0,1
103,3,virginica,104,6.3,2.9,5.6,1.8,0,0,1
104,3,virginica,105,6.5,3.0,5.8,2.2,0,0,1
105,3,virginica,106,7.6,3.0,6.6,2.1,0,0,1
106,3,virginica,107,4.9,2.5,4.5,1.7,0,0,1
107,3,virginica,108,7.3,2.9,6.3,1.8,0,0,1
108,3,virginica,109,6.7,2.5,5.8,1.8,0,0,1
109,3,virginica,110,7.2,3.6,6.1,2.5,0,0,1
110,3,virginica,111,6.5,3.2,5.1,2.0,0,0,1
111,3,virginica,112,6.4,2.7,5.3,1.9,0,0,1
112,3,virginica,113,6.8,3.0,5.5,2.1,0,0,1
113,3,virginica,114,5.7,2.5,5.0,2.0,0,0,1
114,3,virginica,115,5.8,2.8,5.1,2.4,0,0,1
115,3,virginica,116,6.4,3.2,5.3,2.3,0,0,1
116,3,virginica,117,6.5,3.0,5.5,1.8,0,0,1
117,3,virginica,118,7.7,3.8,6.7,2.2,0,0,1
118,3,virginica,119,7.7,2.6,6.9,2.3,0,0,1
119,3,virginica,120,6.0,2.2,5.0,1.5,0,0,1
120,3,virginica,121,6.9,3.2,5.7,2.3,0,0,1
121,3,virginica,122,5.6,2.8,4.9,2.0,0,0,1
122,3,virginica,123,7.7,2.8,6.7,2.0,0,0,1
123,3,virginica,124,6.3,2.7,4.9,1.8,0,0,1
124,3,virginica,125,6.7,3.3,5.7,2.1,0,0,1
125,3,virginica,126,7.2,3.2,6.0,1.8,0,0,1
126,3,virginica,127,6.2,2.8,4.8,1.8,0,0,1
127,3,virginica,128,6.1,3.0,4.9,1.8,0,0,1
128,3,virginica,129,6.4,2.8,5.6,2.1,0,0,1
129,3,virginica,130,7.2,3.0,5.8,1.6,0,0,1
130,3,virginica,131,7.4,2.8,6.1,1.9,0,0,1
131,3,virginica,132,7.9,3.8,6.4,2.0,0,0,1
132,3,virginica,133,6.4,2.8,5.6,2.2,0,0,1
133,3,virginica,134,6.3,2.8,5.1,1.5,0,0,1
134,3,virginica,135,6.1,2.6,5.6,1.4,0,0,1
135,3,virginica,136,7.7,3.0,6.1,2.3,0,0,1
136,3,virginica,137,6.3,3.4,5.6,2.4,0,0,1
137,3,virginica,138,6.4,3.1,5.5,1.8,0,0,1
138,3,virginica,139,6.0,3.0,4.8,1.8,0,0,1
139,3,virginica,140,6.9,3.1,5.4,2.1,0,0,1
140,3,virginica,141,6.7,3.1,5.6,2.4,0,0,1
141,3,virginica,142,6.9,3.1,5.1,2.3,0,0,1
142,3,virginica,143,5.8,2.7,5.1,1.9,0,0,1
143,3,virginica,144,6.8,3.2,5.9,2.3,0,0,1
144,3,virginica,145,6.7,3.3,5.7,2.5,0,0,1
145,3,virginica,146,6.7,3.0,5.2,2.3,0,0,1
146,3,virginica,147,6.3,2.5,5.0,1.9,0,0,1
147,3,virginica,148,6.5,3.0,5.2,2.0,0,0,1
148,3,virginica,149,6.2,3.4,5.4,2.3,0,0,1
149,3,virginica,150,5.9,3.0,5.1,1.8,0,0,1

In [91]:
# Use the function defined in acquire.py to load the Titanic data.

titanic_df = acquire.get_titanic_data()
titanic_df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [17]:
# Drop any unnecessary, unhelpful, or duplicated columns.

missing = titanic_df.isnull().sum()
missing[missing > 0]

age            177
embarked         2
deck           688
embark_town      2
dtype: int64

In [ ]:
# embarked == embark_town, so remove embarked & keep embark_town
# class == pclass, so remove class & keep pclass (already numeric)
# drop deck...way too many missing values
# fill embark_town with most common value ('Southampton')
# drop age column
# encode or create dummy vars for sex & embark_town.

In [19]:
titanic_df = titanic_df.drop_duplicates()
titanic_df.shape

(891, 13)

In [20]:
cols_to_drop = ['deck', 'embarked', 'class', 'age']
titanic_df = titanic_df.drop(columns=cols_to_drop)
titanic_df.shape

(891, 9)

In [21]:
titanic_df['embark_town'] = titanic_df.embark_town.fillna(value='Southampton')

In [22]:
# Encode the categorical columns. Create dummy variables of the categorical columns and 
# concatenate them onto the dataframe.

dummy_titanic_df = pd.get_dummies(titanic_df[['sex','embark_town']], dummy_na=False, drop_first=[True, False])
titanic_df = pd.concat([titanic_df, dummy_titanic_df], axis=1)
titanic_df.head(1)

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.25,Southampton,0,1,0,1

In [90]:
# Create a function named prep_titanic that accepts the raw titanic data, and returns the 
# data with the transformations above applied.

def prep_titanic(titanic_df):
    titanic_df = titanic_df.drop_duplicates()
    cols_to_drop = ['deck', 'embarked', 'class', 'age']
    titanic_df = titanic_df.drop(columns=cols_to_drop)
    titanic_df['embark_town'] = titanic_df.embark_town.fillna(value='Southampton')
    dummy_titanic_df = pd.get_dummies(titanic_df[['sex','embark_town']], drop_first=[True, False])
    titanic_df = pd.concat([titanic_df, dummy_titanic_df], axis=1)
    return titanic_df

In [92]:
prep_titanic(titanic_df)

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,0,0,13.0000,Southampton,1,1,0,1
887,887,1,1,female,0,0,30.0000,Southampton,1,0,0,1
888,888,0,3,female,1,2,23.4500,Southampton,0,0,0,1
889,889,1,1,male,0,0,30.0000,Cherbourg,1,1,0,0
890,890,0,3,male,0,0,7.7500,Queenstown,1,1,1,0

In [93]:
# Using the Telco dataset
# Use the function defined in acquire.py to load the Telco data.

telco_df = acquire.get_telco_data()
telco_df

,internet_service_type_id,customer_id,contract_type_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,...,monthly_charges,total_charges,churn,contract_type,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,internet_service_type
0,1,0002-ORFBO,2,Female,0,Yes,Yes,9,Yes,No,...,65.60,593.3,No,One year,2,Yes,2,65.60,593.3,DSL
1,1,0003-MKNFE,1,Male,0,No,No,9,Yes,Yes,...,59.90,542.4,No,Month-to-month,1,No,2,59.90,542.4,DSL
2,2,0004-TLHLJ,1,Male,0,No,No,4,Yes,No,...,73.90,280.85,Yes,Month-to-month,1,Yes,1,73.90,280.85,Fiber optic
3,2,0011-IGKFF,1,Male,1,Yes,No,13,Yes,No,...,98.00,1237.85,Yes,Month-to-month,1,Yes,1,98.00,1237.85,Fiber optic
4,2,0013-EXCHZ,1,Female,1,Yes,No,3,Yes,No,...,83.90,267.4,Yes,Month-to-month,1,Yes,2,83.90,267.4,Fiber optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,9282-IZGQK,1,Female,0,No,No,1,Yes,Yes,...,85.00,85,Yes,Month-to-month,1,Yes,1,85.00,85,Fiber optic
7039,1,9462-MJUAW,1,Male,0,No,No,4,Yes,Yes,...,50.40,206.6,Yes,Month-to-month,1,No,2,50.40,206.6,DSL
7040,1,9705-ZJBCG,2,Female,0,Yes,Yes,13,Yes,No,...,54.15,701.05,No,One year,2,No,3,54.15,701.05,DSL
7041,2,9777-IQHWP,3,Male,0,Yes,Yes,64,Yes,Yes,...,93.40,5822.3,No,Two year,3,No,3,93.40,5822.3,Fiber optic
7042,2,9809-IMGCQ,1,Male,1,No,No,22,Yes,Yes,...,96.70,2082.95,Yes,Month-to-month,1,Yes,1,96.70,2082.95,Fiber optic

In [71]:
# Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign 
# key columns but keeping the corresponding string values, for example.

missing = telco_df.isnull().sum()
missing

internet_service_type_id    0
customer_id                 0
contract_type_id            0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
payment_type_id             0
monthly_charges             0
total_charges               0
churn                       0
contract_type               0
contract_type_id            0
paperless_billing           0
payment_type_id             0
monthly_charges             0
total_charges               0
internet_service_type       0
dtype: int64

In [72]:
telco_df.shape

(7043, 28)

In [73]:
telco_df.columns

Index(['internet_service_type_id', 'customer_id', 'contract_type_id', 'gender',
       'senior_citizen', 'partner', 'dependents', 'tenure', 'phone_service',
       'multiple_lines', 'online_security', 'online_backup',
       'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
       'paperless_billing', 'payment_type_id', 'monthly_charges',
       'total_charges', 'churn', 'contract_type', 'contract_type_id',
       'paperless_billing', 'payment_type_id', 'monthly_charges',
       'total_charges', 'internet_service_type'],
      dtype='object')

In [74]:
telco_df = telco_df.drop_duplicates()
telco_df.shape

(7043, 28)

In [75]:
cols_to_drop = ['internet_service_type_id', 'contract_type_id', 'payment_type_id']
telco_df = telco_df.drop(columns=cols_to_drop)
telco_df.shape

(7043, 23)

In [76]:
telco_df = telco_df.T.drop_duplicates().T
telco_df.shape

(7043, 20)

In [77]:
telco_df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing', 'monthly_charges',
       'total_charges', 'churn', 'contract_type', 'internet_service_type'],
      dtype='object')

In [80]:
telco_df.describe().T

                        count  unique             top  freq
customer_id              7043    7043      0002-ORFBO     1
gender                   7043       2            Male  3555
senior_citizen           7043       2               0  5901
partner                  7043       2              No  3641
dependents               7043       2              No  4933
tenure                   7043      73               1   613
phone_service            7043       2             Yes  6361
multiple_lines           7043       3              No  3390
online_security          7043       3              No  3498
online_backup            7043       3              No  3088
device_protection        7043       3              No  3095
tech_support             7043       3              No  3473
streaming_tv             7043       3              No  2810
streaming_movies         7043       3              No  2785
paperless_billing        7043       2             Yes  4171
monthly_charges        7043.0  1585.0           20.05  61.0
total_charges            7043    6531            20.2    11
churn                    7043       2              No  5174
contract_type            7043       3  Month-to-month  3875
internet_service_type    7043       3     Fiber optic  3096

In [81]:
telco_df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9282-IZGQK,Female,0,No,No,1,Yes,Yes,No,No,No,No,No,Yes,Yes,85.0,85,Yes,Month-to-month,Fiber optic
7039,9462-MJUAW,Male,0,No,No,4,Yes,Yes,No,No,No,No,No,No,No,50.4,206.6,Yes,Month-to-month,DSL
7040,9705-ZJBCG,Female,0,Yes,Yes,13,Yes,No,Yes,No,No,Yes,No,No,No,54.15,701.05,No,One year,DSL
7041,9777-IQHWP,Male,0,Yes,Yes,64,Yes,Yes,Yes,No,Yes,No,No,Yes,No,93.4,5822.3,No,Two year,Fiber optic
7042,9809-IMGCQ,Male,1,No,No,22,Yes,Yes,No,No,No,No,Yes,Yes,Yes,96.7,2082.95,Yes,Month-to-month,Fiber optic

In [82]:
# Encode the categorical columns. Create dummy variables of the categorical columns 
# and concatenate them onto the dataframe.

dummy_telco_df = pd.get_dummies(telco_df[['gender','contract_type','internet_service_type']], dummy_na=False, drop_first=[True, False, False])
telco_df = pd.concat([telco_df, dummy_telco_df], axis=1)
telco_df.head(1)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,monthly_charges,total_charges,churn,contract_type,internet_service_type,gender_Male,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,65.6,593.3,No,One year,DSL,0,1,0,0,0

In [94]:
def prep_telco(telco_df):
    cols_to_drop = ['internet_service_type_id', 'contract_type_id', 'payment_type_id']
    telco_df = telco_df.drop(columns=cols_to_drop)
    telco_df = telco_df.T.drop_duplicates().T
    dummy_telco_df = pd.get_dummies(telco_df[['gender','contract_type','internet_service_type']], dummy_na=False, drop_first=[True, False, False])
    telco_df = pd.concat([telco_df, dummy_telco_df], axis=1)
    return telco_df

In [95]:
prep_telco(telco_df)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,monthly_charges,total_charges,churn,contract_type,internet_service_type,gender_Male,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,65.6,593.3,No,One year,DSL,0,1,0,0,0
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,59.9,542.4,No,Month-to-month,DSL,1,0,0,0,0
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,73.9,280.85,Yes,Month-to-month,Fiber optic,1,0,0,1,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,98.0,1237.85,Yes,Month-to-month,Fiber optic,1,0,0,1,0
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,83.9,267.4,Yes,Month-to-month,Fiber optic,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9282-IZGQK,Female,0,No,No,1,Yes,Yes,No,No,...,85.0,85,Yes,Month-to-month,Fiber optic,0,0,0,1,0
7039,9462-MJUAW,Male,0,No,No,4,Yes,Yes,No,No,...,50.4,206.6,Yes,Month-to-month,DSL,1,0,0,0,0
7040,9705-ZJBCG,Female,0,Yes,Yes,13,Yes,No,Yes,No,...,54.15,701.05,No,One year,DSL,0,1,0,0,0
7041,9777-IQHWP,Male,0,Yes,Yes,64,Yes,Yes,Yes,No,...,93.4,5822.3,No,Two year,Fiber optic,1,0,1,1,0
7042,9809-IMGCQ,Male,1,No,No,22,Yes,Yes,No,No,...,96.7,2082.95,Yes,Month-to-month,Fiber optic,1,0,0,1,0

In [ ]:
# Split your data
# Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.
# Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.
# Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.
# Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [99]:
# 20% test, 80% train_validate
# then of the 80% train_validate: 25% validate, 75% train. 
from sklearn.model_selection import train_test_split

train_iris, test_iris = train_test_split(iris_df, test_size=.2, random_state=123, stratify=iris_df.species)
train_iris, validate_iris = train_test_split(train_iris, test_size=.25, random_state=123, stratify=train_iris.species)
print(f'Train: {train_iris.shape}')
print(f'Validate: {validate_iris.shape}')
print(f'Test: {test_iris.shape}')

Train: (90, 7)
Validate: (30, 7)
Test: (30, 7)

In [102]:
def split_data_iris(iris_df):
    train_iris, test_iris = train_test_split(iris_df, test_size=.2, random_state=123, stratify=iris_df.species)
    train_iris, validate_iris = train_test_split(train_iris, test_size=.25, random_state=123, stratify=train_iris.species)
    return train_iris, validate_iris, test_iris

In [103]:
def split_data_titanic(titanic_df):
    train_titanic, test_titanic = train_test_split(titanic_df, test_size=.2, random_state=123, stratify=titanic_df.survived)
    train_titanic, validate_titanic = train_test_split(train_titanic, test_size=.25, random_state=123, stratify=train_titanic.survived)
    return train_titanic, validate_titanic, test_titanic

In [104]:
def split_data_telco(telco_df):
    train_telco, test_telco = train_test_split(telco_df, test_size=.2, random_state=123, stratify=telco_df.churn)
    train_telco, validate_telco = train_test_split(train_telco, test_size=.25, random_state=123, stratify=train_telco.churn)
    return train_telco, validate_telco, test_telco

## Tidy Data

In [82]:
# Read the data from the attendance table and calculate an attendance percentage 
# for each student. One half day is worth 50% of a full day, and 10 tardies is 
# equal to one absence.

tidy_data_url = get_db_url('tidy_data')
tidy_data = pd.read_sql('SELECT * FROM attendance;', tidy_data_url)
tidy_data

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [83]:
# Not optimal
tidy_data = tidy_data.replace('A', 0)
tidy_data = tidy_data.replace('P', 1)
tidy_data = tidy_data.replace('T', .9)
tidy_data = tidy_data.replace('H', .5)
tidy_data['Grade'] = tidy_data.sum(axis=1)/8
tidy_data.rename(columns = {'Unnamed: 0':'Name'}, inplace = True)
tidy_data[['Name', 'Grade']].sort_values(by='Name', ascending=True)

/var/folders/vy/hnssqbw53999z9_6dhflqy780000gn/T/ipykernel_2689/3788649728.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tidy_data['Grade'] = tidy_data.sum(axis=1)/8

    Name   Grade
2  Billy  0.5250
1   Jane  0.6875
3   John  0.9125
0  Sally  0.7625

In [227]:
tidy_data2 = pd.read_sql('SELECT * FROM attendance;', tidy_data_url)
tidy_data2

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [237]:
tidy_data2.rename(columns = {'Unnamed: 0':'Name'}, inplace = True)
tidy_data2 = tidy_data2.replace('A', 0)
tidy_data2 = tidy_data2.replace('P', 1)
tidy_data2 = tidy_data2.replace('T', .9)
tidy_data2 = tidy_data2.replace('H', .5)
tidy_data2 = tidy_data2.melt(id_vars=['Name'], var_name='Date', value_name='Attendance')

In [239]:
tidy_data2 = tidy_data2.pivot_table(index='Name', columns='Date', values='Attendance')

In [240]:
tidy_data2

Date,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
Name,,,,,,,,
Billy,0.0,0.9,0.0,0.0,0.5,0.9,1.0,0.9
Jane,0.0,1.0,0.9,0.9,0.9,0.9,0.0,0.9
John,1.0,0.9,0.5,1.0,1.0,0.9,1.0,1.0
Sally,1.0,0.9,0.9,0.5,1.0,0.0,0.9,0.9

In [245]:
x = tidy_data2.shape[1]
tidy_data2.sum(axis=1)/x

Name
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625
dtype: float64

In [117]:
# Read the coffee_levels table.
coffee_levels = pd.read_sql('SELECT * FROM coffee_levels;', tidy_data_url)
coffee_levels

    hour coffee_carafe  coffee_amount
0      8             x       0.816164
1      9             x       0.451018
2     10             x       0.843279
3     11             x       0.335533
4     12             x       0.898291
5     13             x       0.310711
6     14             x       0.507288
7     15             x       0.215043
8     16             x       0.183891
9     17             x       0.391560
10     8             y       0.189297
11     9             y       0.521502
12    10             y       0.023163
13    11             y       0.235529
14    12             y       0.017009
15    13             y       0.997464
16    14             y       0.058361
17    15             y       0.144644
18    16             y       0.544676
19    17             y       0.594126
20     8             z       0.999264
21     9             z       0.915990
22    10             z       0.144928
23    11             z       0.311495
24    12             z       0.771947
25    13             z       0.398520
26    14             z       0.864464
27    15             z       0.436364
28    16             z       0.280621
29    17             z       0.436677

In [104]:
# Transform the data so that each carafe is in it's own column.

# Not optimal
coffee_levels_x = coffee_levels.loc[coffee_levels.coffee_carafe=='x']
coffee_levels_y = coffee_levels.loc[coffee_levels.coffee_carafe=='y']
coffee_levels_z = coffee_levels.loc[coffee_levels.coffee_carafe=='z']
coffee_levels_xy = coffee_levels_x.merge(coffee_levels_y, left_on='hour', right_on='hour', how='inner', indicator=True)
coffee_levels_xyz = coffee_levels_xy.merge(coffee_levels_z, left_on='hour', right_on='hour', how='inner')
coffee_levels_xyz = coffee_levels_xyz.drop(columns=['_merge'])
coffee_levels_xyz.rename(columns={'coffee_carafe': 'coffee_carafe_z'}, inplace=True)
coffee_levels_xyz.rename(columns={'coffee_amount': 'coffee_amount_z'}, inplace=True)
coffee_levels_xyz

,hour,coffee_carafe_x,coffee_amount_x,coffee_carafe_y,coffee_amount_y,coffee_carafe_z,coffee_amount_z
0,8,x,0.816164,y,0.189297,z,0.999264
1,9,x,0.451018,y,0.521502,z,0.915990
2,10,x,0.843279,y,0.023163,z,0.144928
3,11,x,0.335533,y,0.235529,z,0.311495
4,12,x,0.898291,y,0.017009,z,0.771947
5,13,x,0.310711,y,0.997464,z,0.398520
6,14,x,0.507288,y,0.058361,z,0.864464
7,15,x,0.215043,y,0.144644,z,0.436364
8,16,x,0.183891,y,0.544676,z,0.280621
9,17,x,0.391560,y,0.594126,z,0.436677

In [118]:
# Better way
coffee_levels_pivot = coffee_levels.pivot_table(index=['hour'], columns='coffee_carafe', values='coffee_amount')
coffee_levels_pivot

coffee_carafe         x         y         z
hour
8              0.816164  0.189297  0.999264
9              0.451018  0.521502  0.915990
10             0.843279  0.023163  0.144928
11             0.335533  0.235529  0.311495
12             0.898291  0.017009  0.771947
13             0.310711  0.997464  0.398520
14             0.507288  0.058361  0.864464
15             0.215043  0.144644  0.436364
16             0.183891  0.544676  0.280621
17             0.391560  0.594126  0.436677

In [119]:
coffee_levels_pivot.columns.name = ''
coffee_levels_pivot.reset_index(inplace=True)
coffee_levels_pivot.rename(columns={'x': 'coffee_carafe_x'}, inplace=True)
coffee_levels_pivot.rename(columns={'y': 'coffee_carafe_y'}, inplace=True)
coffee_levels_pivot.rename(columns={'z': 'coffee_carafe_z'}, inplace=True)
coffee_levels_pivot

   hour  coffee_carafe_x  coffee_carafe_y  coffee_carafe_z
0     8         0.816164         0.189297         0.999264
1     9         0.451018         0.521502         0.915990
2    10         0.843279         0.023163         0.144928
3    11         0.335533         0.235529         0.311495
4    12         0.898291         0.017009         0.771947
5    13         0.310711         0.997464         0.398520
6    14         0.507288         0.058361         0.864464
7    15         0.215043         0.144644         0.436364
8    16         0.183891         0.544676         0.280621
9    17         0.391560         0.594126         0.436677

In [120]:
# Is this the best shape for the data?

# This appears to be a good way to shape the data. The data is easer to manipulate and read.

In [156]:
# Read the cake_recipes table. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.

cake_recipes = pd.read_sql('SELECT * FROM cake_recipes;', tidy_data_url)
cake_recipes

  recipe:position        225        250        275        300
0        a:bottom  61.738655  53.912627  74.414730  98.786784
1           a:top  51.709751  52.009735  68.576858  50.228470
2        b:bottom  57.095320  61.904369  61.196980  99.248541
3           b:top  82.455004  95.224151  98.594881  58.169349
4        c:bottom  96.470207  52.001358  92.893227  65.473084
5           c:top  71.306308  82.795477  92.098049  53.960273
6        d:bottom  52.799753  58.670419  51.747686  56.183110
7           d:top  96.873178  76.101363  59.571620  50.971626

In [159]:
# Tidy the data as necessary.

cake_recipes.rename(columns={'recipe:position': 'recipe_position'}, inplace=True)
cake_recipes_melt = cake_recipes.melt(id_vars='recipe_position', var_name='Degrees')

In [161]:
cake_recipes_melt.rename(columns={'value': 'Tastiness'}, inplace=True)
cake_recipes_melt

   recipe_position Degrees  Tastiness
0         a:bottom     225  61.738655
1            a:top     225  51.709751
2         b:bottom     225  57.095320
3            b:top     225  82.455004
4         c:bottom     225  96.470207
5            c:top     225  71.306308
6         d:bottom     225  52.799753
7            d:top     225  96.873178
8         a:bottom     250  53.912627
9            a:top     250  52.009735
10        b:bottom     250  61.904369
11           b:top     250  95.224151
12        c:bottom     250  52.001358
13           c:top     250  82.795477
14        d:bottom     250  58.670419
15           d:top     250  76.101363
16        a:bottom     275  74.414730
17           a:top     275  68.576858
18        b:bottom     275  61.196980
19           b:top     275  98.594881
20        c:bottom     275  92.893227
21           c:top     275  92.098049
22        d:bottom     275  51.747686
23           d:top     275  59.571620
24        a:bottom     300  98.786784
25           a:top     300  50.228470
26        b:bottom     300  99.248541
27           b:top     300  58.169349
28        c:bottom     300  65.473084
29           c:top     300  53.960273
30        d:bottom     300  56.183110
31           d:top     300  50.971626

In [162]:
recipe_position = cake_recipes_melt['recipe_position'].str.split(':', expand=True)

In [163]:
recipe_position.columns = ['recipe', 'position']
recipe_position

   recipe position
0       a   bottom
1       a      top
2       b   bottom
3       b      top
4       c   bottom
5       c      top
6       d   bottom
7       d      top
8       a   bottom
9       a      top
10      b   bottom
11      b      top
12      c   bottom
13      c      top
14      d   bottom
15      d      top
16      a   bottom
17      a      top
18      b   bottom
19      b      top
20      c   bottom
21      c      top
22      d   bottom
23      d      top
24      a   bottom
25      a      top
26      b   bottom
27      b      top
28      c   bottom
29      c      top
30      d   bottom
31      d      top

In [164]:
cake_recipes2 = pd.concat([cake_recipes_melt, recipe_position], axis=1).drop(columns='recipe_position')
cake_recipes2

   Degrees  Tastiness recipe position
0      225  61.738655      a   bottom
1      225  51.709751      a      top
2      225  57.095320      b   bottom
3      225  82.455004      b      top
4      225  96.470207      c   bottom
5      225  71.306308      c      top
6      225  52.799753      d   bottom
7      225  96.873178      d      top
8      250  53.912627      a   bottom
9      250  52.009735      a      top
10     250  61.904369      b   bottom
11     250  95.224151      b      top
12     250  52.001358      c   bottom
13     250  82.795477      c      top
14     250  58.670419      d   bottom
15     250  76.101363      d      top
16     275  74.414730      a   bottom
17     275  68.576858      a      top
18     275  61.196980      b   bottom
19     275  98.594881      b      top
20     275  92.893227      c   bottom
21     275  92.098049      c      top
22     275  51.747686      d   bottom
23     275  59.571620      d      top
24     300  98.786784      a   bottom
25     300  50.228470      a      top
26     300  99.248541      b   bottom
27     300  58.169349      b      top
28     300  65.473084      c   bottom
29     300  53.960273      c      top
30     300  56.183110      d   bottom
31     300  50.971626      d      top

In [166]:
cake_recipes2 = cake_recipes2.pivot_table(index=['recipe', 'position'], columns='Degrees', values='Tastiness')
cake_recipes2

Degrees                225        250        275        300
recipe position
a      bottom    61.738655  53.912627  74.414730  98.786784
       top       51.709751  52.009735  68.576858  50.228470
b      bottom    57.095320  61.904369  61.196980  99.248541
       top       82.455004  95.224151  98.594881  58.169349
c      bottom    96.470207  52.001358  92.893227  65.473084
       top       71.306308  82.795477  92.098049  53.960273
d      bottom    52.799753  58.670419  51.747686  56.183110
       top       96.873178  76.101363  59.571620  50.971626

In [168]:
cake_recipes2.columns.name = ''
cake_recipes2.reset_index(inplace=True)
cake_recipes2

  recipe position        225        250        275        300
0      a   bottom  61.738655  53.912627  74.414730  98.786784
1      a      top  51.709751  52.009735  68.576858  50.228470
2      b   bottom  57.095320  61.904369  61.196980  99.248541
3      b      top  82.455004  95.224151  98.594881  58.169349
4      c   bottom  96.470207  52.001358  92.893227  65.473084
5      c      top  71.306308  82.795477  92.098049  53.960273
6      d   bottom  52.799753  58.670419  51.747686  56.183110
7      d      top  96.873178  76.101363  59.571620  50.971626

In [175]:
# Which recipe, on average, is the best? recipe b
cake_recipes2_avg = cake_recipes2.groupby(['recipe']).mean()
cake_recipes2_avg.mean(axis=1)

recipe
a    63.922201
b    76.736074
c    75.874748
d    62.864844
dtype: float64

In [178]:
# Which oven temperature, on average, produces the best results? 275

cake_recipes2.mean()

/var/folders/vy/hnssqbw53999z9_6dhflqy780000gn/T/ipykernel_2689/4075317409.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cake_recipes2.mean()

225    71.306022
250    66.577437
275    74.886754
300    66.627655
dtype: float64

In [209]:
# Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

print(cake_recipes2.max(axis=0))
cake_recipes2[['recipe', 'position', '300']].nlargest(1, '300', keep='last')

recipe              d
position          top
225         96.873178
250         95.224151
275         98.594881
300         99.248541
dtype: object

  recipe position        300
2      b   bottom  99.248541